.iti input {
    width: 420px !important;
    padding: 12px 40px!important;
    border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
    background-color: #F5F5F5;
    outline: none;
    transition: all;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition-duration: 0.2s;
}

/* .iti__flag {
    box-shadow: none !important;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    transform: scale(2) !important;
    -webkit-transform: scale(2) !important;
    -moz-transform: scale(2) !important;
    -ms-transform: scale(2) !important;
    -o-transform: scale(2) !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
} */