html {
    scroll-behavior: smooth; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.line::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 2px;
    background-color:#5500FF;
}

.line::after {
    content: '';
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color:#5500FF;
}
